<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {
            background-color: bisque;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{ message }} {{name}}</h1>
        <div v-bind:id="message">
            <h2>07 | Vue组件的核心概：插槽</h2>
        </div>
        <ul>
        <todo-list>
            <todo-item @delete="handlerDelete" v-for="item in list" v-bind:title="item.title" v-bind:del="item.del">
                <!-- v2.5 and before -->
                <span slot="pre-icon">pre-icon</span>
                <!-- since v2.6-->
                <template v-slot:suf-icon="{value}">
                    <span>suf-icon {{value}}</span>
                    <span v-if="value > 0.5">Big</span>
                    <span v-else>Small</span>
                </template>
            </todo-item>
        </todo-list>
    </div>

    <script type="text/javascript">
        Vue.component('todo-item', {
            props: {
                title: String,
                del: {
                    type: Boolean,
                    default: false
                }
            },
            template: `
                <li>
                    <slot name="pre-icon"></slot>
                    <span v-if="!del">{{title}}</span>
                    <span v-else style="text-decoration: line-through;">{{title}}</span>
                    <slot name="suf-icon" :value="val"></slot>
                    <slot name="slot-no-template">default</slot>
                    <button v-show="!del" v-on:click="handlerClick">delete</button>
                </li>
            `,
            data: function () {
                return {
                    val: Math.random()
                }
            },
            methods: {
                handlerClick() {
                    console.log('todo-item:handlerClick.', this);
                    // emit function [delete] witch is defined in parent.
                    this.$emit('delete', this.title, this.del);
                }
            }
        });

        Vue.component('todo-list', {
            template: `
                <ul>
                    <!-- default slot(no name). -->
                    <slot></slot>
                </ul>
            `
        });

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello-World!',
                name : "Vue",
                list: [{
                    title: 'クラス１',
                    del: false
                },
                {
                    title: 'クラス２',
                    del: true
                },
                {
                    title: 'クラス３',
                    del: false
                },
                {
                    title: 'クラス４',
                    del: true
                },
                {
                    title: 'クラス５',
                    del: false
                }]
            },
            methods: {
                handlerDelete(val1, val2) {
                    console.log('app:handlerDelete:', val1, val2);
                    this.list.forEach(element => {
                        if (element.title == val1) {
                            element.del = !val2;
                        }
                    });
                },
                handlerClick(val) {
                    console.log('app:handlerClick.', this);
                    console.log('val:', val);
                    val.del = true;
                },
            }
        });
    </script>
</body>
</html>