<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {
            background-color: bisque;
        }
    </style>
</head>
<body>
    <div id="app">
        {{ message }} {{name}}
        <div v-bind:id="message"></div>
        <ul>
            <li v-for="item in list">
                <span v-if="!item.del">{{item.title}}</span>
                <span v-else style="text-decoration: line-through;">{{item.title}}</span>
                <!-- Event handled by app. -->
                <button v-show="!item.del" v-on:click="handlerClick(item)">delete</button>
            </li>
            <hr>
            <span>--created by todo-item component--</span>
            <!-- Event handled by todo-item. -->
            <todo-item @delete="handlerDelete" data-test="abc" v-for="item in list" v-bind:title="item.title" v-bind:del="item.del"></todo-item>
        </ul>
        <hr>
        <!-- Event handled by todo-list. -->
        <span>--created by todo-list component--</span>
        <todo-list></todo-list>
    </div>

    <script type="text/javascript">
        Vue.component('todo-item', {
            props: {
                title: String,
                del: {
                    type: Boolean,
                    default: false
                }
            },
            template: `
                <li>
                    <span v-if="!del">{{title}}</span>
                    <span v-else style="text-decoration: line-through;">{{title}}</span>
                    <button v-show="!del" v-on:click="handlerClick">delete</button>
                </li>
            `,
            methods: {
                handlerClick() {
                    console.log('todo-item:handlerClick.', this);
                    // emit function [delete] witch is defined in parent.
                    this.$emit('delete', this.title, this.del);
                }
            }
        });

        Vue.component('todo-list', {
            template: `
                <ul>
                    <todo-item @delete="handlerDelete" v-for="item in list" v-bind:title="item.title" v-bind:del="item.del"></todo-item>
                </ul>
            `,
            data: function () {
                return {
                    list: [{
                        title: 'クラス３',
                        del: false
                    },
                    {
                        title: 'クラス４',
                        del: true
                    },
                    {
                        title: 'クラス５',
                        del: false
                    }]
                }
            },
            methods: {
                handlerDelete(val1, val2) {
                    console.log('todo-list:handlerDelete:', val1, val2);
                    console.log('this.list:', this.list);
                    const index = this.list.findIndex(item => {
                        console.log('title,val1:', item.title, val1);
                        if (item.title === val1) return true;
                        return false;});
                    console.log('index:', index);
                    this.list.splice(index, 1);
                }
            }
        });

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello-World!',
                name : "Vue",
                list: [{
                    title: 'クラス１',
                    del: false
                },
                {
                    title: 'クラス２',
                    del: true
                }]
            },
            methods: {
                handlerDelete(val, val2) {
                    console.log('app:handlerDelete:', val, val2);
                },
                handlerClick(val) {
                    console.log('app:handlerClick.', this);
                    console.log('val:', val);
                    val.del = true;
                },
            }
        });
        
    </script>
</body>
</html>